.head {
    background-color: rgba(205, 50, 50, 0.976);
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
}

.canvas-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}